
.intro-2 {
    background-size: cover;
}

.hm-gradient .full-bg-img {
    background: linear-gradient(45deg, #0045b5, #ecf5ff 100%);
}
.card {
    background-color: rgba(229, 228, 255, 0.2);
}

 .md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}

h6 {
    line-height: 1.7;
}
.whiteBackground{
    background: white;
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1040px;
    }
}


.md-form {
    position: relative;
    margin-bottom: 0.8rem !important;
}

.height200{
  height: 200px;
}

.card.card-cascade>.view {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}

.blue-gradient {
    background: linear-gradient(40deg, #4a4dff, #880e4f) !important;
}
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.card.card-cascade>.view.gradient-card-header {
    padding: 1.6rem 1rem;
    text-align: center;
    color: #fff!important;
}
