<div class="full-height container-fluid">

  <div class="row">

    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
                <!-- SideNav slide-out button -->
                <div class="float-left">
                    <a data-activates="slide-out" class="button-collapse" (click) = "showSideNav = !showSideNav"><i class="fa fa-bars"></i></a>
                </div>

    </nav>

    <app-sidenav [sideNavHideShow] = "showSideNav"></app-sidenav>

    <div class="mainContainer col-md-12">
      <router-outlet></router-outlet>
    </div>

  </div>


</div>

<div class="overlay" *ngIf="showSideNav">


</div>
