.navbar {
    //background-color: #114861;
    background-color: #0a2f3f;
    color: #fff;
}
.mainContainer{
  height: calc(100%);
  padding-top:46px;
  max-width: 1800px;
  margin:0 auto;
  background: #fdfdfd;
}

.overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.45);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.signOutSpan{
    position: absolute;
    right: 30px;
    font-size: 14px;
}

.signOutSpan:hover{
  font-weight: 500;
}
