.analysisContainer{
  height: calc(100% - 50px);
}

.height400{
  height:400px;
}
.height300{
  height: 300px;
}

.height250{
  height: 250px;
}

.height200{
  height: 200px;
}

.hourLineChart{
  height: 300px !important;
  margin:0 auto;
}

.borderRight{
  border-right: 1px solid #EEE;
}
