<div class="row">

  <div class="col-md-8 col-lg-8 col-xl-9 full-height hiddenOverflow overflowY style-4">
    <div class="card card-body noBorderRadius noPadding  mt-2 mb-2">
      <div class="card-header headersColor lighten-1 white-text">Dashboard</div>

      <div class="row pl-4 pr-4 pt-2">
        <div class="col-md-12 col-lg-12 col-xl-8">
            <div style="display: block;">
            <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        <div class="d-none d-xl-block col-xl-4">
           <div class="card mt-4">
               <div class="card-body">
                     <h5 class="card-title"><strong>{{ "Order Statistics" | uppercase }}</strong></h5>
                   <hr>
                     <div class="card-text ">
                      <div class="row p-2">
                        <div class="col-xl-7 fontSize15 fontWeight500 ">Orders</div>
                        <div class="col-xl-5 fontSize15 fontWeight500 text-right">1,344</div>
                      </div>
                      <div class="row p-2">
                        <div class="col-xl-7 fontSize15 fontWeight500">Revenue</div>
                        <div class="col-xl-5 fontSize15 fontWeight500 text-right">12,345 Rs</div>
                      </div>
                      <div class="row p-2">
                        <div class="col-xl-7 fontSize15 fontWeight500">Revenue</div>
                        <div class="col-xl-5 fontSize15 fontWeight500 text-right">12,345 Rs</div>
                      </div>
                      <div class="row p-2">
                        <div class="col-xl-7 fontSize15 fontWeight500">Revenue</div>
                        <div class="col-xl-5 fontSize15 fontWeight500 text-right">12,345 Rs</div>
                      </div>
                      <div class="row p-2">
                        <div class="col-xl-7 fontSize15 fontWeight500">Revenue</div>
                        <div class="col-xl-5 fontSize15 fontWeight500 text-right">12,345 Rs</div>
                      </div>
                      <div class="row p-2 mb-2">
                        <div class="col-xl-7 fontSize15 fontWeight500">Revenue</div>
                        <div class="col-xl-5 fontSize15 fontWeight500 text-right">12,345 Rs</div>
                      </div>
                  </div>

                   <p class="card-text"><small class="text-muted">All Orders Data Till Now</small></p>
               </div>
           </div>
        </div>
      </div>
      <hr>

      <div class="row height350  pl-4 pr-4 pt-2">
        <div class="col-xl-4 d-none d-xl-block">
                <div class="card ">
                    <div class="card-body cardHeight style-4">
                      <div style="display: block">
                        <canvas baseChart height="245" width="300"
                                    [data]="doughnutChartData"
                                    [labels]="doughnutChartLabels"
                                    [chartType]="doughnutChartType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                      </div>
                    </div>
                </div>
        </div>
            <div class="col-xl-4 col-lg-6 col-md-6 ">
                    <div class="card ">
                        <div class="card-body cardHeight style-4">
                          <h5 class="card-title">{{ "Less Stock Items" | uppercase }}</h5>
                          <hr>
                          <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between fontSize15 align-items-center" *ngFor="let item of lessQtyItems">
                                  {{item.itemname | uppercase}}
                                  <span class="badge badge-pill red">{{item.qtyPresent + " "+ item.unit}} in stock</span>
                              </li>

                          </ul>
                          <hr>
                          <div class="float-right">
                            <a class="btn btn-primary btn-sm my-0 noMargin" (click)="goToOrder()">check It out</a>
                          </div>
                        </div>
                    </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 ">
                    <div class="card cardHeight style-4">
                        <div class="card-body">
                            <h5 class="card-title ">{{ "Ordered Items" | uppercase }}</h5>
                            <hr>
                            <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between fontSize15 align-items-center" *ngFor="let item of orderedItems">
                                  {{item.itemname | uppercase}}
                                  <span class="badge badge-pill green">{{item.orderedQty+ " "+ item.unit}} ordered</span>
                              </li>
                            </ul>
                            <hr>
                            <div class="float-right">
                              <a class="btn btn-primary btn-sm my-0 noMargin" (click)="goToOrder()">check It out</a>
                            </div>
                        </div>
                </div>
            </div>
      </div>
      <hr>
      <div class="row height350  pl-4 pr-4 pt-2"></div>
  </div>
</div>
  <div class="col-md-4 col-lg-4 col-xl-3">
    <div class="card mt-2 mb-2">
        <div class="card-header headersColor lighten-1 white-text">Hindu Panchang</div>
        <div class="card-body">
            <h5 class="card-title">{{ "Check Out Today's Panchang" | uppercase }}</h5>
            <p class="card-text text-center">
              <iframe src="http://www.igoogleportal.com/shindig/gadgets/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/109787730588197067267/hindi_panchang.xml&lang=en&country=INDIA"
                    height="270"
                    width="275"
                    scrolling="no"
                   frameborder="0">
            </iframe></p>
        </div>
    </div>

    <div class="card mt-1 d-xl-none">
        <div class="card-body">
            <h5 class="card-title">{{ "Order Statistics" | uppercase }}</h5>
            <hr>
              <div class="card-text ">
               <div class="row p-2">
                 <div class="col-lg-7 col-md-7 fontSize15 fontWeight500 ">Orders</div>
                 <div class="col-lg-5 col-md-5 fontSize15 fontWeight500 text-right">1,344</div>
               </div>
               <div class="row p-2">
                 <div class="col-lg-7 col-md-7 fontSize15 fontWeight500">Revenue</div>
                 <div class="col-lg-5 col-md-5 fontSize15 fontWeight500 text-right">12,345 Rs</div>
               </div>
               <div class="row p-2">
                 <div class="col-lg-7 col-md-7 fontSize15 fontWeight500">Revenue</div>
                 <div class="col-lg-5 col-md-5 fontSize15 fontWeight500 text-right">12,345 Rs</div>
               </div>
               <div class="row p-2">
                 <div class="col-lg-7 col-md-7 fontSize15 fontWeight500">Revenue</div>
                 <div class="col-lg-5 col-md-5 fontSize15 fontWeight500 text-right">12,345 Rs</div>
               </div>
               <div class="row p-2 mb-2">
                 <div class="col-lg-7 col-md-7 fontSize15 fontWeight500">Revenue</div>
                 <div class="col-lg-5 col-md-5 fontSize15 fontWeight500 text-right">12,345 Rs</div>
               </div>
           </div>
            <p class="card-text"><small class="text-muted">All Orders Data Till Now</small></p>
        </div>
    </div>
  </div>
</div>
