
<!--Main Navigation-->
<header>
  <!--Intro Section-->
  <section class="view intro-2 hm-gradient">
      <div class="full-bg-img">
          <div class="container flex-center style-4 overflowYAuto" >
              <div class="d-flex align-items-center content-height">
                  <div class="row flex-center pt-3 mt-3">
                      <div class="col-md-6 text-center text-md-left mb-5">
                          <div class="white-text">
                              <h1 class="h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Don't Have Flemingo ... ! </h1>
                              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                              <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Manage Your Business Of Hotel End To End. Get Analysis Of Your Data To Get Useful Insights Which Ultimately Help Your Business To Grow. Also See What People Are Saying About You ..</h6>
                              <br>
                              <a class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbRippleRadius>Sign Up Now</a>
                          </div>
                      </div>

                      <div class="col-md-6 col-xl-5 offset-xl-1">

                          <!--Card-->
                          <div class="card card-cascade narrower">
                            <div>&nbsp;</div>
                            <!--Card image-->
                            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-body whiteBackground">

                                <h4 class="card-title text-center"><strong>Already Member</strong></h4>
                                <h5 class="indigo-text text-center"><strong>Sign In Here</strong></h5>

                                <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)" novalidate >

                                    <div class="md-form">
                                        <input mdbActive type="text" id="form1" class="form-control" name="username" ngModel required />
                                        <label for="form1" class="">User Name</label>
                                    </div>

                                    <div class="md-form">
                                        <input mdbActive type="password" id="form2" class="form-control" name="password" ngModel required />
                                        <label for="form2" class="">Password</label>
                                    </div>

                                    <input type='submit' class="btn btn-unique waves-light float-right" mdbRippleRadius />

                                </form>

                            </div>



                            <!--/.Card content-->

                          </div>
                          <!--/.Card-->

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

</header>
<!--Main Navigation-->
