
.intro-2 {
    background-size: cover;
}

.hm-gradient .full-bg-img {
    background: linear-gradient(45deg, rgb(157, 182, 212), #5986d2 100%);
}
.card {
    background-color: rgba(229, 228, 255, 0.2);
}

 .md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}

h6 {
    line-height: 1.7;
}
.whiteBackground{
    background: white;
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1040px;
    }
}
            
