.fixedImage{
  height: 55px;
  width: 55px;
  border-radius: 55px;
  margin-top: 20px;
  background: transparent;
}

.reviewDiv{
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 5px;
}

.marginBottom5{
  margin-bottom: 5px;
}

.negativeBorder{
  border-left:5px solid red;
}
.positiveBorder{
  border-left:5px solid green;
}

.padding10{
  padding: 10px;
}
