@import "~@ng-select/ng-select/themes/default.theme.css";
body{
  font-weight: 400;
}
.overflowYAuto{
  overflow-y: auto;
}

.VAlignChildren{
  display: flex;
  align-items: center;
}

/*Background Colors */

.blackBackColor{
  background-color: black;
}

.whiteBackColor{
  background-color: white;
}

.grayBackColor{
  background-color: gray;
}

.greenBackColor{
  background-color: green;
}

.redBackColor{
  background-color: red;
}

.dangerText{
  color:#CC0000 !important;
}

.headersColor{
  background-color:#114861;
}

.menuColor{
    background-color: #0a2f3f;
}
//Black Text Colors

.blackTextColor{
  color: black;
}

.whiteTextColor{
  color: white !important;
}

.redTextColor{
  color:red;
}


//Text transform classes

.textCaptalize{
  text-transform: capitalize;
}
/*Font sizes*/
.fontSize11{
    font-size: 0.4rem !important;
}

.fontSize12{
    font-size: 0.5rem !important;
}
.fontSize13{
    font-size: 0.6rem !important;
}
.fontSize14{
    font-size: 0.8rem !important;
}
.fontSize15{
    font-size: 0.9rem !important;
}
.fontSize16{
    font-size: 1rem !important;
}
.fontSize22{
  font-size: 22px;
}

.fontSize24{
  font-size: 24px;
}


.fontWeight400{
  font-weight: 400 !important;
}

.fontWeight500{
  font-weight: 500 !important;
}

/*Visibility Hidden*/
.visibilityH{
  visibility: hidden;
}


/*overfloe  scroll */
.overflowY{
  overflow-y : scroll;
}

.hiddenOverflow{
  overflow:hidden !important;
}

.overflowX{
  overflow-x: scroll;
}

/**** reusable Borders ***/
.rightBorder{
    border-right: 1px solid #e4e4e4;
}

.noBorder{
  border:none;
}

.bottomBorder{
  border-bottom: 1px solid #80808042 !important;
}


/*** table css ****/

table td , table th {
  font-weight: 400;
}


/*
 *  STYLE 4
 */
.style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
  height: 3px;
}

.style-4::-webkit-scrollbar-thumb
{
  height: 30px;
  background: hsla(0, 0%, 53.3%, .4);
}


//Positioning Styles

.absolute{
  position: absolute;
}

.fixed{
  position: fixed;
}

//margin classes


.noMargin{
  margin:0px !important;
}

.autoMargin{
    margin: 0 auto;
}

//padding classes

.noPadding{
  padding: 0 !important;
}
.noPaddingHOflw{
    padding: 0;
    overflow-x: hidden;
}

/*No Border radius*/

.noBorderRadius{
  border-radius: 0;
}


/** cursor shapes **/

.pointer{
  cursor: pointer;
}

/*display classes*/
.displayNone{
  display: none;
}

/* no box shadow */

.noBoxShadow{
      box-shadow: none !important;
}


/*** checkbox and Radio  **/


@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 100px;
    width: 100px;
    margin-left: -50px;
    margin-top: -50px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 5;
}

.option-input:hover {
  background: #9faab7;
}

.option-input:checked {
  background: #0a2f3f;
}

.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 16.66667px;
  text-align: center;
  line-height: 20px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

label{
  color: #333;
  font-size: 0.8rem;
}
